################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VerifyBot/v15/Server/sqlite3
*.dtbcache
